/* Estilos generales para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido en la página */
}

/* Estilos generales para el encabezado y pie de página */
header, footer {
    width: 100%;
    box-sizing: border-box;
}

/* Estilos específicos del encabezado */
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #008B8B; /* Color del título principal */
    font-weight: bold;
}

/* Estilos para las secciones de texto */
.texto {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.texto img {
    width: 45%;
    height: auto;
}

.texto-info {
    width: 55%;
    padding: 20px;
}

.texto-info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.texto-info p {
    color: #666;
}

/* Estilos del pie de página */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section p {
    margin: 0;
    font-size: 1.2em;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-column {
    flex: 1;
}

.footer-column h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* Estilos para las imágenes alineadas a la derecha */
.right-image {
    order: 1;
}

.texto-info {
    order: 0;
}

/* Diseño responsive para dispositivos móviles */
@media (max-width: 767px) {
    .texto {
        flex-direction: column; /* Cambia la disposición a vertical */
    }

    .texto img {
        width: 100%; /* Ajusta la imagen al ancho completo */
    }

    .texto-info {
        width: 100%;
        padding: 20px;
        text-align: center; /* Centra el texto */
    }
}